<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">

	<test name="Sanity">
		<parameter name="deviceId" value="emulator-5554" />
		<parameter name="os" value="Android" />
		<classes>

			<class name="TestScripts.AddToCart"></class>


		</classes>
	</test>

</suite>